# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask-SocketIO session data
instance/

# Pytest cache
.pytest_cache/

# SQL database
*.sqlite3

# Logs and local files
*.log
*.pid
*.env
*.cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# VS Code specific
.vscode/

# SSL certificates and keys
cert.pem
key.pem

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
desktop.ini

# Other files
server_dev.py