<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" />
    
    <title>Leaving Meeting Room</title>
</head>
<body>
    <div id="chatroom-exit-container">
        <div class="text-container">
            <h1>Sampai Jumpa Lagi!</h1>
            <p>Anda sudah keluar dari ruangan meeting.</p>
        </div>
        <a href="/" class="btn exit-hyperlink" style="margin-top: .5rem;">Keluar</a>
    </div>
</body>
</html>